<section class="mt-8">
  <h1 class="text-primary text-center text-5xl md:text-7xl mb-10">About me</h1>

  <p class="text-center text-lg md:text-xl max-w-2xl mx-auto mb-20">I am a Frontend Developer with a focus on <span class="text-primary">Angular</span>, <span class="text-primary">Rxjs</span>, <span class="text-primary">Firebase</span> and intermediate Backend Development. I created a blog platform <span class="text-primary">Plutonium</span> to help fellow developers learn coding techniques.</p>

  <h1 class="text-primary text-center text-5xl md:text-7xl mb-8">Let's connect</h1>

  <p class="text-center text-lg md:text-xl max-w-2xl mx-auto mb-8">Connect with me on social media</p>
  
  <div class="flex justify-center mb-10">
    <app-links />
  </div>

  <div class="grid md:grid-cols-2 max-w-md gap-8 mx-auto mb-20">
    <a href="/docs/Sukhpreet_Singh_Resume.docx" download>
      <button>
        <span class="flex justify-center items-center gap-4">
          <p>Get my cv</p>
          <svg class="w-4 h-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512"><path d="M24,24H0v-2H24v2Zm-9.86-4.89l9.82-10.11h-6.95V0H7V9H.07l9.8,10.11h0c.57,.58,1.32,.89,2.12,.89h0c.8,0,1.56-.31,2.13-.89Z"/></svg>
        </span>
        <i></i>
      </button>
    </a>
    <a href="mailto:panesar.pb08@gmail.com">
      <button>
        <span class="flex justify-center items-center gap-4">
          <p>Email me</p>
          <svg class="w-4 h-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512"><path d="M12,0A12.013,12.013,0,0,0,0,12c-.126,9.573,11.159,15.429,18.9,9.817a1,1,0,1,0-1.152-1.634C11.3,24.856,1.9,19.978,2,12,2.549-1.266,21.453-1.263,22,12v2a2,2,0,0,1-4,0V12C17.748,4.071,6.251,4.072,6,12a6.017,6.017,0,0,0,10.52,3.933A4,4,0,0,0,24,14V12A12.013,12.013,0,0,0,12,0Zm0,16a4,4,0,0,1,0-8A4,4,0,0,1,12,16Z"/></svg>
        </span>
        <i></i>
      </button>
    </a>
  </div>

</section>