@tailwind base;
@tailwind components;
@tailwind utilities;

@import './component.scss';
@import './utilities.scss';

html {
  height: 100%;
}

body {
  font-family: "Work Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

img {
  width: 100%;
  height: auto;
}
