<section class="mt-8">
  <h1 class="text-primary text-center text-5xl md:text-7xl mb-10 md:mb-16">Introducing {{ blog.name }}</h1>

  <div class="grid md:grid-cols-[2fr_2fr] max-w-5xl gap-8 md:gap-16 mx-auto md:mt-10 mb-28">
    <div>
      <p class="text-lg md:text-xl mb-8">{{ blog.description }}</p>
      <div class="flex flex-wrap gap-6 mb-8">
        @for (item of blog.stack; track $index) {
          <span class="bg-primary/15 text-primary capitalize px-4 py-2 rounded-full">{{ item }}</span>
        }
      </div>
      <a [href]="blog.link" target="_blank">
        <button>
          <span class="flex justify-center items-center gap-4">
            <p>Visit blog</p>
            <svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M23.12,9.91,19.25,6a1,1,0,0,0-1.42,0h0a1,1,0,0,0,0,1.41L21.39,11H1a1,1,0,0,0-1,1H0a1,1,0,0,0,1,1H21.45l-3.62,3.61a1,1,0,0,0,0,1.42h0a1,1,0,0,0,1.42,0l3.87-3.88A3,3,0,0,0,23.12,9.91Z"/></svg>
          </span>
          <i></i>
        </button>
      </a>
    </div>

    <div class="bg-secondary h-fit p-4">
      <a [href]="blog.link" target="_blank">
        <img [ngSrc]="blog.images[0]" [alt]="blog.name" priority width="800" height="450">
      </a>
    </div>
  </div>

  <h1 class="text-primary text-center text-5xl md:text-7xl mb-10 md:mb-16">Projects</h1>

  <div class="grid md:grid-cols-2 max-w-4xl gap-6 md:gap-12 mx-auto mb-20">
    @for (project of projects; track project.link) {
      <div class="bg-white/5 grid gap-6 md:gap-8">
        <div class="bg-secondary p-4">
          <a [href]="project.link" target="_blank">
            <img [ngSrc]="project.images[0]" [alt]="project.name" width="800" height="450">
          </a>
        </div>
        <div class="px-6 pb-6 md:px-8 md:pb-6">
          <h1 class="text-primary text-3xl md:text-3xl mb-2">{{ project.name }}</h1>
          <p class="mb-6">{{ project.description }}</p>
          <a [href]="project.link" target="_blank">
            <button>
              <span class="flex justify-center items-center gap-4">
                <p>Visit</p>
                <svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M23.12,9.91,19.25,6a1,1,0,0,0-1.42,0h0a1,1,0,0,0,0,1.41L21.39,11H1a1,1,0,0,0-1,1H0a1,1,0,0,0,1,1H21.45l-3.62,3.61a1,1,0,0,0,0,1.42h0a1,1,0,0,0,1.42,0l3.87-3.88A3,3,0,0,0,23.12,9.91Z"/></svg>
              </span>
              <i></i>
            </button>
          </a>
        </div>
      </div>
    }
  </div>

  <div class="flex justify-center mb-28">
    <button routerLink="/info">
      <span class="flex justify-center items-center gap-4">
        <p>About me</p>
        <svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M23.12,9.91,19.25,6a1,1,0,0,0-1.42,0h0a1,1,0,0,0,0,1.41L21.39,11H1a1,1,0,0,0-1,1H0a1,1,0,0,0,1,1H21.45l-3.62,3.61a1,1,0,0,0,0,1.42h0a1,1,0,0,0,1.42,0l3.87-3.88A3,3,0,0,0,23.12,9.91Z"/></svg>
      </span>
      <i></i>
    </button>
  </div>
</section>
