@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Work Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

img {
  width: 100%;
  height: auto;
}

section {
  animation: section-animation 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translateY(0px);
  opacity: 1;
}

@keyframes section-animation {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

a {
  color: theme('colors.primary');
}

button {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  transition: 0.2s;
  padding: .75rem 3rem;
  background-color: theme('colors.primary');
  color: theme('colors.base-1');
}

button:hover {
  background: theme('colors.transparent');
  color: theme('colors.primary');
  box-shadow: 0 0 35px theme('colors.primary');
  animation: box 3s infinite;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
}

button span {
  position: relative;
  z-index: 1;
}

button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid theme('colors.primary');
  transition: 0.2s;
}

button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid theme('colors.primary');
  transition: 0.2s;
}

button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px theme('colors.primary');
  }
  100% {
    box-shadow: #27272c;
  }
}



@layer utilities {
  .custom-shadow {
    box-shadow: 0 0 10px rgba(18, 22, 24, .534);
  }
}

